@model Solution.Web2.Models.ActiviteVM
@{string path = "~/Content/Uploads/" + @Model.Affiche;}
@using Solution.Domain.Entities;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    IEnumerable<Activite> courses = ViewData["Courses"] as IEnumerable<Activite>;

}

<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Class Single Page</h3>
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index")
                </li>
                <li>-</li>
                <li>Class Single</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->
<!-- Blog Post Start here -->
<section class="singel-class padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-post">
                    <div class="post-image">
                        <img src="@Url.Content(path)" alt="post image" class="img-responsive">
                    </div>
                    <div class="post-content">
                        <h3>@Model.Title</h3>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-people-1"></span> <a href="#">@Model.Professor</a></li>
                            <li><span class="icon flaticon-like"></span> <a href="#">128 Likes</a></li>
                            <li><span class="icon flaticon-chat"></span> <a href="#">32 Comments</a></li>
                        </ul>
                        <p>@Model.Description</p>
                        <blockquote>@Model.Description</blockquote>
                        <p>Outils: @Model.Outils</p>

                    </div>
                    <div class="content-bottom">
                        <ul class="post-tags">
                            <li><span class="flaticon-tags-outline"></span> Tags :</li>
                            <li><a href="#">Corporate</a> -</li>
                            <li><a href="#">KidsAcademy</a> -</li>
                            <li><a href="#">Agency</a> -</li>
                            <li><a href="#">Business</a></li>
                        </ul>
                        <ul class="post-share">
                            <li><span class="flaticon-share"></span> Share :</li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div><!-- content-bottom -->
                </div><!-- single post -->
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <form>
                            <input type="text" name="text" placeholder="Search Your Catagorie...">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div><!-- sidebar item -->
                    <div class="sidebar-item">
                        <ul class="class-details">
                            <li>
                                <div class="name"><i class="flaticon-pencil"></i>Start Date</div>
                                <div class="info">@Model.Start.ToShortDateString()</div>
                            </li>
                            <li>
                                <div class="name"><i class="flaticon-student"></i>Years Old</div>
                                <div class="info">@Model.AgeMin-@Model.AgeMax Years</div>
                            </li>
                            <li>
                                <div class="name"><i class="flaticon-symbols"></i>Class Size</div>
                                <div class="info">@Model.ClassSize Kids</div>
                            </li>
                            <li>
                                <div class="name"><i class="flaticon-school-bus"></i>Carry Time</div>
                                <div class="info">5 Hours/6 Days</div>
                            </li>
                            <li>
                                <div class="name"><i class="flaticon-book"></i>Coures Duration</div>
                                <div class="info">@Model.Duration Month</div>
                            </li>
                            <li>
                                <div class="name"><i class="flaticon-alarm-clock"></i>Class Time</div>
                                <div class="info">9:30am-5:30pm</div>
                            </li>
                            <li>
                                <div class="name"><i class="flaticon-like-2"></i>Rating</div>
                                <div class="info rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </li>
                            @if (Model.Document is null)
                            {
                                <li>
                                    @Html.ActionLink("Add Doc", "AjoutDocument", new { id = Model.ActiviteID })
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("view Doc", "PdfViewer", new { Doc = Model.Document })
                                </li>
                            }
                        </ul>

                    </div><!-- sidebar item -->
                    <div class="sidebar-item">
                        <h3 class="sidebar-title">Popular Courses</h3>
                        @foreach (var item in courses)
                        {
                            <ul class="sidebar-posts">
                                <li>
                                    <div class="image">
                                        <img src="@Url.Content("~/Content/Uploads/" + @item.Title + "latest.jpg")" alt="post image" class="img-responsive">
                                    </div>
                                    <div class="content">
                                        @Html.ActionLink(item.Title, "Details", new { id = item.ActiviteID })
                                        @*<a href="single.html">@item.Title</a>*@
                                        <span>@item.Theme</span>
                                    </div>
                                    <br />
                                </li>

                            </ul><!-- sidebar-posts -->
                        }
                    </div><!-- sidebar item -->
                    <div class="sidebar-item">
                        <h3 class="sidebar-title">Photos Gallery</h3>

                        <ul class="sidebar-gallery">
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_01.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_02.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_03.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_04.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_05.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_06.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_07.jpg" alt="gallery image" class="img-responsive"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/blog/gallery_08.jpg" alt="gallery image" class="img-responsive"></a></li>
                        </ul><!-- sidebar-gallery -->
                    </div><!-- sidebar item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Post End here -->


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActiviteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts{}
